.parent-div {
	display: flex column;
	align-content: center;
	width: 100%;
}

.parent-div > * {
	margin: 50px;
}


/* * FIRST SECTION */

.first-section {
	display: flex;
	background-image: url('../assets/consultorio-home.jpg');
	background-size: cover;
	margin: 0;
	padding: 20px;
	border-radius: 0px;
}

.first-section-img {
	max-width: 45%;
	border-radius: 10px;
}

.first-section-text-container {
	border-width: 1px 1px 1px 0px;
	padding: 325px 100px;
	font-size: 30px;
	max-width: 40%;
}

.first-section-text-container > * {
	backdrop-filter: blur(7px);
	padding: 10px;
}

.first-section-title {
	display: block;
	font-size: 50px;
	margin-top: 0px;
}

/* * THIRD SECTION */

.third-section {
	display: flex column;
	align-items: center;
	text-align: center;
	margin: 50px 0px;
	padding: 25px;
	color: white;
	background-color: #0088ff;

	margin-top: 800px;
}

.third-section-title {
	font-size: 40px;
	margin: 15px 25px 0px 25px;
}

.cards-container {
	display: flex;
	justify-content: center;
}

.informational-card {
	display: flex column;
	align-items: center;
	height: 350px;
	width: 300px;
	border-radius: 25px;
	margin: 20px 20px;
	padding: 15px;
	color: #302e30;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.informational-card-header {
	display: flex column;
	align-items: center;
}

.card-icon {
	height: 180px;
	width: 180px;
}


/* * SIGN UP MODAL */
.signup-modal {
	display: flex column;
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 20px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.signup-title, .signup-subtitle {
	margin: 10px;
	text-align: center;
}

#signup-modal-ruler {
	margin: 20px 20px;
}

.signup-modal-body {
	display: flex column;
	align-items: center;
	margin: 20px;
	padding-top: 0px;
}

#signup-modal-form {
	display: flex;
	justify-content: space-between;
}

#signup-modal-form > div {
	width: 45%;
}

label {
	display: block;
	font-size: 25px;
	width: 90%;
}

input[type=text] {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	font-size: 20px;
	width: 96%;
	margin-bottom: 15px;
}

input[type=text]:focus {
	outline-color: #0088ff;
}

#signup-button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	font-size: 30px;
	background-color: #0088ff;
	color: white;
	border-color: white;
	text-shadow: 1px 1px 1px black;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
}

#signup-button:hover {
	transition: .15s;
	background-color: #1b70d0;
}

#signup-button:not(:hover) {
	transition: .15s;
	background-color: #0088ff;
}

#signup-button:active {
	background-color: #2159a2;
}